In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('Churn_Modelling.csv')

In [ ]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
import numpy as np

In [ ]:
x=data.iloc[:,3:13]
y=data.iloc[:,13]

In [ ]:
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
Geography=pd.get_dummies(x['Geography'],drop_first=True)
Gender=pd.get_dummies(x['Gender'],drop_first=True)

In [ ]:
x=pd.concat([x,Geography,Gender],axis=1)

In [ ]:
x.head()

   CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0          619    France  Female   42  ...        101348.88        0      0     0
1          608     Spain  Female   41  ...        112542.58        0      1     0
2          502    France  Female   42  ...        113931.57        0      0     0
3          699    France  Female   39  ...         93826.63        0      0     0
4          850     Spain  Female   43  ...         79084.10        0      1     0

[5 rows x 13 columns]

In [ ]:
x=x.drop(['Geography',	'Gender'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:
classifier= Sequential()

In [ ]:
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))
classifier.compile(optimizer='Adam',loss='binary_crossentropy',metrics='accuracy')

In [ ]:
model=classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7673 - val_loss: 0.4685 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4399 - accuracy: 0.8106 - val_loss: 0.4426 - val_accuracy: 0.8001
Epoch 3/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.8041 - val_loss: 0.4339 - val_accuracy: 0.8031
Epoch 4/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4281 - accuracy: 0.8006 - val_loss: 0.4293 - val_accuracy: 0.8054
Epoch 5/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4081 - accuracy: 0.8061 - val_loss: 0.4246 - val_accuracy: 0.8073
Epoch 6/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4094 - accuracy: 0.8091 - val_loss: 0.4207 - val_accuracy: 0.8171
Epoch 7/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4163 - accuracy: 0.8116 - val_loss: 0.4164 - val_accuracy: 0.8186
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3962 - accuracy: 0.8239 - val_loss: 0.4111 - val_accuracy: 0.8190
Epoch 9/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3880 - accuracy: 0.8277 - val_loss: 0.4061 - val_accuracy: 0.8232
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3895 - accuracy: 0.8214 - val_loss: 0.4025 - val_accuracy: 0.8262
Epoch 11/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3943 - accuracy: 0.8228 - val_loss: 0.3992 - val_accuracy: 0.8277
Epoch 12/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3750 - accuracy: 0.8312 - val_loss: 0.3962 - val_accuracy: 0.8342
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3755 - accuracy: 0.8409 - val_loss: 0.3927 - val_accuracy: 0.8334
Epoch 14/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3562 - accuracy: 0.8513 - val_loss: 0.3898 - val_accuracy: 0.8357
Epoch 15/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3890 - accuracy: 0.8333 - val_loss: 0.3867 - val_accuracy: 0.8372
Epoch 16/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3778 - accuracy: 0.8334 - val_loss: 0.3839 - val_accuracy: 0.8417
Epoch 17/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3564 - accuracy: 0.8522 - val_loss: 0.3824 - val_accuracy: 0.8444
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3655 - accuracy: 0.8458 - val_loss: 0.3795 - val_accuracy: 0.8463
Epoch 19/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3686 - accuracy: 0.8487 - val_loss: 0.3790 - val_accuracy: 0.8451
Epoch 20/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3605 - accuracy: 0.8465 - val_loss: 0.3761 - val_accuracy: 0.8474
Epoch 21/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3462 - accuracy: 0.8559 - val_loss: 0.3754 - val_accuracy: 0.8474
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3671 - accuracy: 0.8434 - val_loss: 0.3733 - val_accuracy: 0.8482
Epoch 23/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3479 - accuracy: 0.8606 - val_loss: 0.3715 - val_accuracy: 0.8489
Epoch 24/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3479 - accuracy: 0.8528 - val_loss: 0.3700 - val_accuracy: 0.8508
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3326 - accuracy: 0.8613 - val_loss: 0.3697 - val_accuracy: 0.8516
Epoch 26/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3370 - accuracy: 0.8584 - val_loss: 0.3688 - val_accuracy: 0.8519
Epoch 27/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3377 - accuracy: 0.8568 - val_loss: 0.3669 - val_accuracy: 0.8531
Epoch 28/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3368 - accuracy: 0.8562 - val_loss: 0.3691 - val_accuracy: 0.8512
Epoch 29/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3241 - accuracy: 0.8650 - val_loss: 0.3642 - val_accuracy: 0.8542
Epoch 30/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3352 - accuracy: 0.8629 - val_loss: 0.3656 - val_accuracy: 0.8527
Epoch 31/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3318 - accuracy: 0.8574 - val_loss: 0.3657 - val_accuracy: 0.8550
Epoch 32/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3364 - accuracy: 0.8626 - val_loss: 0.3639 - val_accuracy: 0.8557
Epoch 33/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3149 - accuracy: 0.8695 - val_loss: 0.3646 - val_accuracy: 0.8538
Epoch 34/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3409 - accuracy: 0.8539 - val_loss: 0.3627 - val_accuracy: 0.8538
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3342 - accuracy: 0.8552 - val_loss: 0.3641 - val_accuracy: 0.8565
Epoch 36/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3215 - accuracy: 0.8623 - val_loss: 0.3611 - val_accuracy: 0.8565
Epoch 37/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3379 - accuracy: 0.8590 - val_loss: 0.3606 - val_accuracy: 0.8588
Epoch 38/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3491 - accuracy: 0.8516 - val_loss: 0.3632 - val_accuracy: 0.8554
Epoch 39/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3328 - accuracy: 0.8573 - val_loss: 0.3615 - val_accuracy: 0.8584
Epoch 40/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3289 - accuracy: 0.8584 - val_loss: 0.3604 - val_accuracy: 0.8580
Epoch 41/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3469 - accuracy: 0.8523 - val_loss: 0.3600 - val_accuracy: 0.8569
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3213 - accuracy: 0.8666 - val_loss: 0.3610 - val_accuracy: 0.8557
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3250 - accuracy: 0.8630 - val_loss: 0.3589 - val_accuracy: 0.8580
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3310 - accuracy: 0.8598 - val_loss: 0.3591 - val_accuracy: 0.8561
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3306 - accuracy: 0.8584 - val_loss: 0.3590 - val_accuracy: 0.8595
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3170 - accuracy: 0.8654 - val_loss: 0.3594 - val_accuracy: 0.8557
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3308 - accuracy: 0.8589 - val_loss: 0.3586 - val_accuracy: 0.8584
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8558 - val_loss: 0.3589 - val_accuracy: 0.8573
Epoch 49/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3291 - accuracy: 0.8587 - val_loss: 0.3571 - val_accuracy: 0.8580
Epoch 50/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3285 - accuracy: 0.8600 - val_loss: 0.3572 - val_accuracy: 0.8576
Epoch 51/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3177 - accuracy: 0.8644 - val_loss: 0.3573 - val_accuracy: 0.8599
Epoch 52/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3313 - accuracy: 0.8612 - val_loss: 0.3568 - val_accuracy: 0.8584
Epoch 53/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3206 - accuracy: 0.8637 - val_loss: 0.3575 - val_accuracy: 0.8595
Epoch 54/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3165 - accuracy: 0.8667 - val_loss: 0.3572 - val_accuracy: 0.8557
Epoch 55/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3375 - accuracy: 0.8587 - val_loss: 0.3590 - val_accuracy: 0.8565
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8539 - val_loss: 0.3559 - val_accuracy: 0.8622
Epoch 57/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3345 - accuracy: 0.8579 - val_loss: 0.3565 - val_accuracy: 0.8588
Epoch 58/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3235 - accuracy: 0.8585 - val_loss: 0.3561 - val_accuracy: 0.8595
Epoch 59/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3196 - accuracy: 0.8615 - val_loss: 0.3585 - val_accuracy: 0.8565
Epoch 60/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3303 - accuracy: 0.8617 - val_loss: 0.3572 - val_accuracy: 0.8588
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3159 - accuracy: 0.8692 - val_loss: 0.3575 - val_accuracy: 0.8565
Epoch 62/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3310 - accuracy: 0.8607 - val_loss: 0.3572 - val_accuracy: 0.8591
Epoch 63/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3264 - accuracy: 0.8656 - val_loss: 0.3553 - val_accuracy: 0.8584
Epoch 64/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3295 - accuracy: 0.8645 - val_loss: 0.3564 - val_accuracy: 0.8569
Epoch 65/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3253 - accuracy: 0.8602 - val_loss: 0.3554 - val_accuracy: 0.8607
Epoch 66/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3317 - accuracy: 0.8613 - val_loss: 0.3575 - val_accuracy: 0.8595
Epoch 67/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3219 - accuracy: 0.8694 - val_loss: 0.3548 - val_accuracy: 0.8595
Epoch 68/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3344 - accuracy: 0.8610 - val_loss: 0.3553 - val_accuracy: 0.8588
Epoch 69/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3281 - accuracy: 0.8618 - val_loss: 0.3549 - val_accuracy: 0.8603
Epoch 70/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3398 - accuracy: 0.8606 - val_loss: 0.3564 - val_accuracy: 0.8584
Epoch 71/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3147 - accuracy: 0.8703 - val_loss: 0.3554 - val_accuracy: 0.8607
Epoch 72/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3239 - accuracy: 0.8631 - val_loss: 0.3560 - val_accuracy: 0.8573
Epoch 73/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3376 - accuracy: 0.8654 - val_loss: 0.3566 - val_accuracy: 0.8576
Epoch 74/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3218 - accuracy: 0.8608 - val_loss: 0.3550 - val_accuracy: 0.8591
Epoch 75/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3328 - accuracy: 0.8628 - val_loss: 0.3543 - val_accuracy: 0.8603
Epoch 76/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3340 - accuracy: 0.8564 - val_loss: 0.3533 - val_accuracy: 0.8591
Epoch 77/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3267 - accuracy: 0.8632 - val_loss: 0.3555 - val_accuracy: 0.8569
Epoch 78/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3311 - accuracy: 0.8598 - val_loss: 0.3551 - val_accuracy: 0.8591
Epoch 79/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3249 - accuracy: 0.8664 - val_loss: 0.3545 - val_accuracy: 0.8591
Epoch 80/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3285 - accuracy: 0.8583 - val_loss: 0.3549 - val_accuracy: 0.8595
Epoch 81/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3191 - accuracy: 0.8711 - val_loss: 0.3541 - val_accuracy: 0.8588
Epoch 82/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3223 - accuracy: 0.8627 - val_loss: 0.3546 - val_accuracy: 0.8588
Epoch 83/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3249 - accuracy: 0.8682 - val_loss: 0.3557 - val_accuracy: 0.8576
Epoch 84/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3228 - accuracy: 0.8630 - val_loss: 0.3546 - val_accuracy: 0.8599
Epoch 85/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3204 - accuracy: 0.8655 - val_loss: 0.3535 - val_accuracy: 0.8591
Epoch 86/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3157 - accuracy: 0.8701 - val_loss: 0.3527 - val_accuracy: 0.8599
Epoch 87/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3156 - accuracy: 0.8673 - val_loss: 0.3533 - val_accuracy: 0.8584
Epoch 88/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3216 - accuracy: 0.8593 - val_loss: 0.3530 - val_accuracy: 0.8595
Epoch 89/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3300 - accuracy: 0.8624 - val_loss: 0.3532 - val_accuracy: 0.8565
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3306 - accuracy: 0.8620 - val_loss: 0.3541 - val_accuracy: 0.8580
Epoch 91/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3434 - accuracy: 0.8485 - val_loss: 0.3526 - val_accuracy: 0.8591
Epoch 92/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3468 - accuracy: 0.8559 - val_loss: 0.3525 - val_accuracy: 0.8576
Epoch 93/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3154 - accuracy: 0.8650 - val_loss: 0.3533 - val_accuracy: 0.8580
Epoch 94/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3130 - accuracy: 0.8694 - val_loss: 0.3534 - val_accuracy: 0.8554
Epoch 95/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3260 - accuracy: 0.8624 - val_loss: 0.3527 - val_accuracy: 0.8565
Epoch 96/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3342 - accuracy: 0.8617 - val_loss: 0.3529 - val_accuracy: 0.8569
Epoch 97/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3152 - accuracy: 0.8638 - val_loss: 0.3532 - val_accuracy: 0.8603
Epoch 98/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3241 - accuracy: 0.8637 - val_loss: 0.3531 - val_accuracy: 0.8595
Epoch 99/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3316 - accuracy: 0.8605 - val_loss: 0.3540 - val_accuracy: 0.8584
Epoch 100/100
536/536 [==============================] - 1s 1ms/step - loss: 0.3198 - accuracy: 0.8681 - val_loss: 0.3526 - val_accuracy: 0.8580

In [ ]:
y_predict=classifier.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cm=confusion_matrix(y_test,y_predict)

In [ ]:
cm

array([[1530,   65],
       [ 217,  188]])

In [ ]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_predict)

In [ ]:
score

0.859